<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>About Us</title>
 <link rel="stylesheet" type="text/css" href=/css/styles.css>
  <link rel="stylesheet" type="text/css" href=/css/style.css>
</head>
 <nav>
            <div class="navigation">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a th:href="@{/about}">About us</a></li>
                    <li><a th:href="@{/equipments}">Equipment</a></li>
                    <li><a th:href="@{/issues}">Issues</a></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                    <li><b>Welcome [[${#request.userPrincipal.principal.fullName}]]</b></li>
                </ul>
               
            </div>
        </nav>
        
<body id="body2">
<!-- <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a th:href="@{/open_dashboard}">Home</a>
  <a th:href="@{/issues}">Issues</a>
  <a th:href="@{/equipments}">Equipments</a>
  <a href="#">About Us</a>
   <a th:href="@{/logout}">Logout</a>
</div> -->

<!--  <div id="main" class= "container">
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
 <div id="username">
		<div>
				<p>
				Welcome  <b id="name">[[${#request.userPrincipal.principal.fullName}]] </b>
				</p>
			
		</div>		
		
</div>
</div> -->

	
<!-- <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script> -->


<h2 id="aboutDev">About the Developer </h2>

<div id="studentDetails" >
<h2>SIN		:		<b>18121099</b></h2>
<h2>Name	:		<b>Mofya Ndabala</b></h2>
<h2>Program	:		<b>Bachelor of Science in Computer Science</b></h2>
</div>

	
</body>
</html>