<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Equipments</title>
 <link rel="stylesheet" type="text/css" href=/css/styles.css>
  <link rel="stylesheet" type="text/css" href=/css/style.css>




</head>
<nav>
            <div class="navigation">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a th:href="@{/about}">About us</a></li>
                    <li><a th:href="@{/equipments}">Equipment</a></li>
                    <li><a th:href="@{/issues}">Issues</a></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                    <li><b>Welcome [[${#request.userPrincipal.principal.fullName}]]</b></li>
                </ul>
               
            </div>
        </nav>
<body>




<!-- <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a th:href="@{/open_dashboard}">Home</a>
  <a th:href="@{/issues}">Issues</a>
  <a href="#">Equipments</a>
  <a th:href="@{/about}">About Us</a>
   <a th:href="@{/logout}">Logout</a>
</div> -->

<!--  <div id="main" class= "container">
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
 <div id="username">
		<div>
				<p>
				Welcome  <b id="name">[[${#request.userPrincipal.principal.fullName}]] </b>
				</p>
			
		</div>		
		
</div>
</div> -->

	

<!-- <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script> -->

<h2 id="addEquip">Add Equipment </h2>

<div id="form">
<form th:action="@{/process_equipments}" method ="post" 
style="border:1px solid #ccc"   th:object="${equipments}">
 <div >


    <label for="equipName"><b>Name</b></label>
    <input type="text" style=  "height: 20px;color: #000000" placeholder="Enter Equipment Here" 
    name="email" required maxlength="45" th:field="*{name}">

    <label for="equipDescr"><b>Description</b></label>
    <input type="text" style= "height: 150px"placeholder="Enter Equipment Description Here" 
    name="equipDescr" required maxlength="250" th:field="*{description}">

   
    <div class="clearfix">
     <button type="submit" class="signupbtn">Save</button>
      <button type="button" class="cancelbtn">Cancel</button>
     
    </div>
  </div>
</form>
</div>

<h2 id="availableEquip">Available Equipment </h2>
<div id="availEquip">
	<table>
	<thead>
		<tr>
			<th>No</th>
			<th>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="equipments: ${listEquipments}">
			<td th:text="${equipments.id}">Equipments Name</td>
			<td th:text="${equipments.name}">Equipments Name</td>
			<td th:text="${equipments.description}">Equipments Description</td>
			
		</tr>
	</tbody>
	</table>
</div>
	
</body>
</html>